In [ ]:
import sqlite3
import pandas as pd
import mathplotlib.pyplot as plt

In [ ]:
db_path = "data_sets/all_data.db"
table_name = "financial_data"
date_col = "Data"
y_col = "Y"

In [ ]:
def load_data(column_to_test):
    connection = sqlite3.connect(db_path)
    query = f"""
        SELECT {date_col}, {y_col}, {column_to_test}
        FROM {table_name}
    """
    df = pd.read_sql_query(query, connection, parse_dates=[date_col])
    connection.close()
    return df